
* {
   
    box-sizing: border-box;
}
.top{
    margin:0px;
    color: white;
    background-color: rgba(1, 0, 0, 0.751);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
nav a{
    margin: 5px;
    margin-left: 30px;
    font-size: 1rem;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;

}
nav a:hover{
    color: rgb(146, 62, 224);
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.intro h1{
    transition: all 0.8s ease;
}
.intro h1:hover{
     background: linear-gradient(90deg, #6200ffaf, #321974, #a047c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transform: translateX(5px);
    transition: transform 0.3s ease;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f0f0f;
    color: white;
}


.profile-pic {
    width:500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #65117f;
}
.profile-pic:hover{
     background: linear-gradient(90deg, #6200ffaf, #321974, #a047c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transform: translateX(5px);
    transition: transform 0.3s ease;
}

/* Timeline container */
.timeline {
    max-width: 800px;
    margin: 60px auto;
    padding-left: 50px;
    position: relative;
}

/* Vertical line */
.timeline::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #630881;
}

/* Timeline items */
.timeline article {
    margin-bottom: 50px;
    position: relative;
}

/* Timeline dot */
.timeline article::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 8px;
    width: 14px;
    height: 14px;
    background-color: #640697;
    border-radius: 50%;
}

/* Content styling */
.timeline h2 {
    color: #5f199c;
    margin-bottom: 10px;
}

.timeline p {
    line-height: 1.6;
    opacity: 0.9;
}



.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 30px;
    font-size: 1rem;
    background-color: rgb(218, 180, 231);
    border: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-left: 20px;
    
}
.button a{
      text-decoration: none;
      color:rgb(0, 0, 0) ;
}
.button:hover{
    background-color: rgb(108, 20, 116);
    color: black;
    transform: scale(1.05);
}

