body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f0f0f;
    color: white;
    height: 100vh;
}
.top{
    margin:0px;
    color: white;
    background-color: rgba(1, 0, 0, 0.751);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
nav a{
    margin: 5px;
    margin-left: 30px;
    font-size: 1rem;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;

}
nav a:hover{
    color: rgb(146, 62, 224);
}


.contact {
    text-align: center;
}

.contact h1 {
    margin-bottom: 30px;
    color: #6a27b2;
}

.contact-info p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.contact-info a {
    color: #431d8b;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.contact-info a:hover {
    opacity: 0.7;
    text-decoration: underline;
}
.contact a {
    color: #8546e2;
    text-decoration: none;
}

.back {
    display: inline-block;
    margin-top: 30px;
    opacity: 0.8;
}
