*{
    box-sizing: border-box;
}
.top{
    margin:0px;
    color: white;
    background-color: rgba(1, 0, 0, 0.751);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
nav a{
    margin: 5px;
    margin-left: 30px;
    font-size: 1rem;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;

}
nav a:hover{
    color: rgb(146, 62, 224);
}
body{
    background-image: url("dback.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.intro{
    min-height: 80vh;
color: aliceblue;
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 20px;
padding: 20px;
font-size: xxx-large;

}
.intro:hover{
    color: rgb(255, 237, 237);
    transform: scale(1.01);
}
.intro-text p{
    font-size: 3.0rem;
    margin-bottom:30px;

}
.button{
    padding: 12px 30px;
    font-size: 1rem;
    background-color: aliceblue;
    border: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.button a{
      text-decoration: none;
      color:rgb(52, 23, 23) ;
}
.button:hover{
    background-color: rgb(176, 211, 211);
    color: black;
    transform: scale(1.05);
}